
@font-face {font-family:"LatoSemiBold";src: url("fonts/Lato-Semibold.eot")}
@font-face {font-family:"LatoSemiBold";src: url("fonts/Lato-Semibold.otf")}
@font-face {font-family:"LatoSemiBold";src: url("fonts/Lato-Semibold.ttf")}
@font-face {font-family:"LatoSemiBold";src: url("fonts/Lato-Semibold.woff")}
@font-face {font-family:"LatoSemiBold";src: url("fonts/Lato-Semibold.woff2")}

@font-face {font-family:"LatoRegular";src: url("fonts/Lato-Regular.eot")}
@font-face {font-family:"LatoRegular";src: url("fonts/Lato-Regular.otf")}
@font-face {font-family:"LatoRegular";src: url("fonts/Lato-Regular.ttf")}
@font-face {font-family:"LatoRegular";src: url("fonts/Lato-Regular.woff")}
@font-face {font-family:"LatoRegular";src: url("fonts/Lato-Regular.woff2")}

html,body{padding:0;margin:0;overflow-x: hidden;overflow-y: auto;font-family:"LatoRegular";}
.padding0{padding: 0px;}
/***** Start of Body Scroll Bar *******/
body::-webkit-scrollbar {width: 0.6em;}
body::-moz-scrollbar {width: 0.6em;}
body::-o-scrollbar {width: 0.6em;}
body::-ms-scrollbar {width: 0.6em;} 
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 5px 0 6px rgba(0,0,0,0.3);}
body::-moz-scrollbar-track {-moz-box-shadow: inset 5px 0 6px rgba(0,0,0,0.3);}
body::-o-scrollbar-track {-o-box-shadow: inset 5px 0 6px rgba(0,0,0,0.3);}
body::-ms-scrollbar-track {-ms-box-shadow: inset 5px 0 6px rgba(0,0,0,0.3);}
body::-webkit-scrollbar-thumb {background-color: #333;outline: 1px solid #333;}
body::-moz-scrollbar-thumb {background-color: #333;outline: 1px solid #333;}
body::-o-scrollbar-thumb {background-color: #333;outline: 1px solid #333;}
body::-ms-scrollbar-thumb {background-color: #333;outline: 1px solid #333;}
/***** End of Body Scroll Bar *******/
.header_one{width: 100%;padding: 0px;margin: 0px;float: left;background: #FFF;}
.menu_section{width: 100%;padding: 0px;margin: 0px;float: left;position: absolute;z-index: 1000;}
.menu_section .navbar {padding:20px 50px 10px 0px;}
.menu_section .nav-item{margin-right: 10px;font-size: 14px;font-weight: normal;letter-spacing: 0.7px;}
.menu_section .nav-item a{color: #FFF;}
.inner a.dropdown-item{color: #f05e23;}
.inner .dropdown-item.active, .inner .dropdown-item:active{background: #f05e23;color: #FFF;font-weight: normal;}
.inner .dropdown-item:hover, .inner .dropdown-item:focus{background: #f05e23;color: #FFF;font-weight: normal;}
.search{padding-top: 23px;border-bottom: 1px solid #CCC;box-sizing: border-box;width: 80%;margin: 0px 10%;}
.search input{border: none;width: 80%;margin: 4px 0px;outline: none;}
.menu_section .dropdown-menu{right: 0px;padding:0px;border-radius: 0px;}
.menu_section .dropdown-menu .dropdown-item{white-space:pre-wrap;font-size: 15px;margin: 3px 0px;}
.menu_section .dropdown-menu:after {bottom: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-bottom-color: #FFF;border-width: 11px;margin-left: -35px;}
.kd_icon{background: #f05e23;color: #FFF;padding: 29px 0px;font-size: 14px;letter-spacing: 0.5px;font-weight: normal;}
.slide_section{width: 100%;padding: 0px;margin: 0px;float: left;position: relative;z-index: 999;}
.quote{text-align: left;font-size: 90px;margin-left:180px;font-weight: 500;line-height: 110px;margin-bottom: 80px;text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);}
.auote_cap {width: 100%;left: 0px;right: 0px;top:20%;}
.auote_cap a{color: #FFF;text-decoration: none;}
.sub_auote{text-align: left;background-color: RGBA(0,0,0,0.6);width: 50%;margin-left:50%;padding: 0px 10px;font-family: Century Gothic;text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);}
.sub_auote span{display: inline-block;}
.sub_auote span.multi_fnt{font-size: 30px;letter-spacing: 0.7px;}
.sub_auote span.single_fnt{font-size: 90px;margin-right:-3px;}
.section_2{padding:50px 50px;float: left;}
.section_2 h1{font-weight: 550;letter-spacing: 0.5px;margin-right: 20px;color: #2e2e2e;}
.section_2 .year_dt{margin:40px 0px 0px 0px;float: left;}
.year_dt_left{float: left;}
.year_dt_right{float: left;}
.check_day{font-size: 55px;color: #2b2b2b;}
.check_dt{font-size: 65px;color: #000000;}
.check_dt span{display: inline-block;;color: #f05e23;font-weight: 600;}
.venue{margin:50px 0px 10px 0px;float: left;}
.venue .name{margin:10px 0px;color: #000;font-size: 25px;text-transform: uppercase;letter-spacing: 0.5px;}
.venue span.addrs{display: block;font-size: 25px;letter-spacing: 0.5px;color: #858585;}
.action_btns{float: left;text-align: right;margin: 10px 0px;}
.action_btns button a{outline: none;}
.action_btns button{margin-right:18px;background: #f05e23;color: #FFF;font-size: 14px;letter-spacing: 0.5px; border: none;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;padding:9px 22px;cursor: pointer;-webkit-box-shadow: 4px 3px 5px 0px rgba(95, 32, 7, 0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(95, 32, 7, 0.75);box-shadow:4px 3px 5px 0px rgba(95, 32, 7, 0.75);}
.section_3{float: left;background: #f1f1f1;padding:40px;}
.section_3 p{font-size: 20px;color: #858585;text-align: justify;letter-spacing: 0.5px;}
.section_3 p span{display: inline-block;color: #f05e23;font-weight: 600;}
.section_4{float: left;margin:0px 0px 30px 0px;}
.section_4 .section_4_left{float: left;background-image: url(../images/b1.png);background-size: cover;background-repeat: no-repeat;background-position: center;height:280px;position: relative;}
.section_4 .section_4_left a{text-decoration: none;color: #FFF;position: absolute;text-align: center;bottom: 10px;font-size: 40px;width: 100%;}
.section_4 .section_4_right{float: left;background-image: url(../images/donate.png);background-size: cover;background-repeat: no-repeat;background-position: center;height:280px;position: relative;}
.section_4 .section_4_right a{text-decoration: underline;color: #FFF;position: absolute;text-align: right;bottom: 30px;font-size: 20px;width: 100%;letter-spacing: 0.8px;right:30px;}
.section_5{float: left;padding: 30px 60px;}
.section_5_left{width:46%;margin-right:4%;float: left;}
.section_5_right{width:46%;margin-left:4%;float: left;}
.event{background: #F1F1F1;float: left;}
.event_img{float: left;}
.event_img img{width: 100%;float: left;}
.event_text{float: left;padding: 30px 20px;}
.event_text span{color: #f05e23;font-size: 20px;display: block;}
.event_text a{font-size: 20px;color: #f05e23;text-align: right;display: block;font-weight: 500;}
.event_text p{float: left;color: #858585;font-size: 20px;margin: 10px 0px;letter-spacing: 0.5px;text-align: left;}
.section_6{float: left;padding: 50px 50px 50px 50px;background: #f05e23;color: #FFF;}
.person_info{float: left;background-image: url(../images/text.png);background-size: 55% 100%;background-repeat: no-repeat;background-position: center;}
.person_info .person_pic{float: left;width: 100%;}
.person_info .person_pic img{width: 100%;float: left;padding: 0px;margin: 0px;}
.person_info p{font-size: 30px;margin: 30px 0px;float: left;letter-spacing: }
.section_7{padding:60px 45px;float: left;background-image: url(../images/bg1.png);background-size: cover;background-repeat: no-repeat;background-position: center;}
.section_7_left{float: left;}
.section_7_right{float: left;padding: 20px;}
.section_7_right span{display: block;text-align: left;color: #333;font-size: 28px;margin-top: 40px;font-weight: 550;}
.section_8{float: left;padding: 0px 40px;background: #313131;}
.section_8_left{background: #f05e23;padding: 50px 0px;float: left;}
.section_8_left img{width: 150px;}
.section_8_left .kd_text{font-size: 25px;color: #FFF;margin: 20px 0px;letter-spacing: 0.5px;}
.section_8_left .kd_link a{text-decoration: underline;color: #FFF;font-size: 20px;}
.section_8_right{float: left;padding: 15px 100px;}
.section_8_right .footer_menu{width:100%;float: left;border-bottom: 1px solid #CCC;box-sizing: border-box;}
.section_8_right .footer_menu ul{width: 100%;float: left;padding: 30px;margin: 0px;}
.section_8_right .footer_menu ul li{float: left;padding: 0px 18px;border-right: 1px solid #b3b3b3;box-sizing: border-box;list-style-type: none;font-size: 20px;letter-spacing: 0.5px;margin: 10px 0px;}
.section_8_right .footer_menu ul li:last-child{border-right:none;}
.section_8_right .footer_menu ul li a{color: #b3b3b3;}
.section_8_right .footer_menu_bottom{float: left;}
.bttome_join{float: left;color: #f05e23;font-size: 40px;padding: 40px 0px;text-align: center;font-weight:550;}
.bottom_text{float: left;color: #FFF;font-size: 24px;color: #b3b3b3;text-align: justify;padding: 35px 20px;}
.bottom_social{float: left;padding: 35px 20px;}
.section_9{float: left;padding:10px 0px;text-align: center;color: #333;font-size: 16px;;letter-spacing: 0.5px;font-weight: 500;}

.nkf_image{position: absolute;z-index: 1000;top: 30px;left: 30px;}
.slide_2_text{font-size: 60px;margin-left: 140px;margin-bottom: 20px;}
.slide_3_text{/*color: #1a0200;*/color:#f05e23;margin-left: 150px;font-size: 65px;}
.card_3{float: left;}
.card_2{float: left;}
.card_2_left{float: left;}
.card_2_left ul{width: 100%;float: left;padding: 0px;margin-left: 50px;margin-top: 50px;}
.card_2_left ul li{padding: 10px 15px 10px 0px;float:left;margin: 5px;font-size: 19px;/*list-style-type: square;*/list-style-image: url(../images/check_15.png);vertical-align: middle;text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);}
.card_2_right{float: left;}

